/* Reset total do layout padrão do Blazor */
.page {
    flex-direction: column !important;
}

main {
    display: block !important;
}

body {
    background-color: #f8faf9 !important;
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

.nav-link.active {
    color: #fff !important;
    font-weight: bold;
}

/* Esconder a barra de erro chata se não houver erro real */
#blazor-error-ui {
    display: none;
}
